/*
Print CSS by Affinitic
mars 2013
*/
@import url("style.css") print;

@media print {

    * {
        box-shadow:none !important;
        border:none !important;
        background-image:none !important;
        border-radius:none !important;
		background-color:transparent !important;
    }
	#javascript-print-detection {
		display: block;
	}
	#wrapper {
		min-height: 0px;
	}
    #description-calendrier,
    .slide4,
    .slide5,
    #beforecontent {
        display: none !important;
    }
	#descriptif-accordeon li.slide3 {
		page-break-before:always;
	}
	#dispocalendars_container table {
    	float: left;
	}
	#accordeon-spin {
        display: none !important;
	}
	#description-heb, #descriptif-accordeon {
		height: 2000px !important;
		overflow: visible !important;
	}
	#descriptif-accordeon li.slide {
    	height: 586px !important;
		margin-top: 60px !important;
		position: relative !important;
		top: none !important;
		width: none !important;
		left: 0px !important;
	}
	#dispocalendars td.indisp {
		color: red;
	}
	#signaler-un-probleme, #contacter-proprio {
        display: none !important;
	}
	.documentActions {
        display: none !important;
	}
	#viewlet-social-like {
		display: none !important;
	}
    #edit-bar {
        display: none;
    }
    #portal-top {
        display: none;
    }
    #plone-document-byline {
        display: none;
    }
    #viewlet-below-content {
        display: none;
    }
    #bottompage {
        display: none;
    }
    #aftercontent {
        display: none;
    }
    #map_div {
        overflow: visible !important;
    }
    #map_div > div:first-child {
        overflow: visible !important;
    }
    #map_div > div:first-child > div:first-child {
        overflow: visible !important;
    }
    .gmnoprint {
        display: none !important;
    }
    .gmnoscreen {
        display: none !important;
    }
    #viewlet-map {
        page-break-before: always;
        padding-top: 50px;
    }
    #sort, #menu {
        display: none;
    }
 }
