/*** IPhone 6 in portrait & landscape ***/
@media only screen
and (min-device-width : 340px)
and (max-device-width : 736px) {
    body{
        /*background-color:#f00;*/
    }
    div#wrapper {
        width:100%;
        margin: auto;
        background-color: #fafafa;
    }
    #portal-header {
        position:relative;
        z-index:1000;
    }
    /*** LOGO ***/
    div#logo{
        loat: left;
        background: url(../images/logo_small.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(255,255,255,0.95);
        margin-left: 116px;
        margin-right: 4px;
        margin-top: -17px;
        height: 135px;
        width: 120px;
        border-radius: 3px;
    }
    div#logo a{
        height:135px;
        width:120px;
        display:block;
        border:1px solid rgba(220,220,220,0.5);
        border-radius:3px;
    }
    div#reserver-en-ligne,
    div#header-derniere-minute,
    div#header-shop,
    div#carrousssel-produit-package{
        display:none;
    }

    /*** JE CHERCHE ***/
    div#je-recherche{
        padding:10px;
        padding-top:32px;
        border: 1px solid #ccc;
        background-color:rgb(201,37,43);
    }
    div#form-je-cherche {
        width:100%;
        margin-bottom: 30px;
        padding-top: 20px;
        background-color:rgb(201,37,43);
    }
    div#select-type-hebergement,
    div#je-recherche #date-start,
    div#je-recherche #date-end,
    div#je-recherche #nbre-personne,
    div#je-recherche #proximite,
    div#trouver-homepage{
        clear:both;
        display:block;
        height:65px;
        width:210px;
        margin:5px auto;
        padding-left:0px;
        text-align:center;
    }
    input#chambre-hote
    input#gite-meuble{
        width:32px;
        height:32px;
    }
    div#je-recherche input#form-widgets-capacityMin,
    div#je-recherche input[type="text"],
    div#je-recherche .trouver{
        height: 35px;
        width: 200px;
        padding-left:5px;
    }


    /*** OFFRES ***/
    div#zone-offres{
        width:100%;
        height:100%;
        padding:0px;
    }
    div#zone-offres div#zone-idee-sejour,
    div#zone-offres div#zone-allo-chambre-hote{
        display:none;
    }
    div#zone-offres div#zone-derniere-minute{
        clear:both;
        width:240px;
        height:332px;
        background-color:#EFEFEF;
        border:1px solid #ccc;
        margin:15px auto;
        padding:10px 15px 1px 15px;
        border-radius:4px;
        color:#666;
        font-size:0.73em;
    }
    div#zone-offres h2{
        display:none;
        color:rgb(201,37,43);
        height:20px;
        padding-top:0px;
        padding-left:15px;
        margin-bottom:30px;
        text-align:left;
        width:100%;
    }
    section#connexion-membre{
        display:none;
    }
    /*** FOOTER ***/
    div#footer{
        background-color:#666;
        padding-left:0px;
        color:#ddd;
    }
    div#footer div#contact,
    div#footer div#destination-wallonie,
    div#footer div#association,
    div#footer div#autres-sites{
        display:none;
    }
    div#footer div#reseaux-sociaux-mobile{
    }
    div#footer div#reseaux-sociaux-mobile ul{
        width:310px;
        margin:auto;
    }
    div#footer div#reseaux-sociaux-mobile li{
        display:inline-block;
    }
    div#footer div#reseaux-sociaux{
        display:none;
        /*clear:both;
        height:312px;
        width:170px;
        margin-right:25px;
        margin-top:50px;
        padding-left:15px;
        font-size:9pt;*/
    }
    div#footer div#reseaux-sociaux-mobile h2{
        font-family: 'PT Sans Narrow' !important;
        color:rgba(50,50,50,0.5);
        margin:auto;
        margin-bottom:8px;
        font-weight:normal;
        font-size:20pt;
        text-align:center;
    }
    div#footer div#reseaux-sociaux-mobile ul li a{
        display:block;
        height:35px;
        padding-left:52px;
        padding-top:15px;
        background-repeat:no-repeat;
        background-position:left top;
        margin:0px 10px;
    }
    div#footer div#reseaux-sociaux-mobile ul li #btn-facebook{
        background-image:url(../images/icone_fb_small.png);
    }
    div#footer div#reseaux-sociaux-mobile ul li #btn-twitter{
        background-image:url(../images/icone_tw_small.png);
    }
    div#footer div#reseaux-sociaux-mobile ul li #btn-google{
        background-image:url(../images/icone_g+_small.png);
    }
    div#footer div#reseaux-sociaux-mobile ul li #btn-youtube{
        background-image:url(../images/icone_yt_small.png);
    }

    /*** COLOPHON  PARTENAIRES LOGO***/
    div#colophon{
        background-color:#333;
        padding-top:10px;
        text-align:center;
    }
    div#colophon div#partenaire{
        display:none;
    }
    div#colophon div#partenaire-mobile{
        display:block;
        width:265px;
        margin:auto;
    }
    div#colophon div#partenaire{-mobile
        padding-left:0px;
    }
    div#colophon div#partenaire-mobile img{
        display:inline;
        margin:12px 6px;
    }
    div#colophon div#partenaire-mobile div#eurogite,
    div#colophon div#partenaire-mobile div#feader,
    div#colophon div#partenaire-mobile div#feder,
    div#colophon div#partenaire-mobile div#wallonie-tourisme,
    div#colophon div#partenaire-mobile div#wallonie-bruxelles-tourisme{
        float:left;
        margin:5px 8px;
        }


    /*** LISTING IDEE SEJOUR ***/
    div#idee-sejours-listing article.article-resume-idee-sejours{
        width:200px;
        min-height:280px;
        margin:20px 0px;
        padding:10px;
        border: 1px solid #ddd;
        text-shadow:1px 1px 1px rgba(250,250,250,0.8);
        background:#f0efeb;
    }

    /*** LISTING RESULTAT RECHERCHE ***/
    h1#nbr-heb-trouve,
    div#listing-result-block div#listing-result-batch,
    div#listing-result-block div#listing-result-count{
        display:none;
    }
    div#listing-result-info-top,
    div#listing-result-info-bottom{
        border:2px solid rgba(250,250,250,0.5);
        height:40px;
        padding:10px;
        background: rgba(240,240,240,0.5);
    }
    div#listing-result-info-bottom div#sort-bottom{
        display:none;
    }
    div#listing-result-info-bottom div#listing-result-batch{
        display:block;
    }
    div#listing-result-info-bottom div#listing-result-batch a{
        display:inline-block;
        margin:0px 3px;
        font-size:1.2em;
    }
    div.hebergement-gite-listing-detail,
    div.hebergement-chambre-listing-detail{
        position:relative;
        z-index:20;
        width:300px;
        margin:10px auto;
        border:1px solid rgba(50,50,50,0.1);
        border-radius:0px 0px 0px 12px;
    }
    div#info-bloc-sup{
        clear:both;
        width:500px;
        height:26px;
    }
    div#info-bloc-sup div#distance{
        clear:both;
        margin-top:7px;
        font-weight:bold;
        color:#555;
    }
    div#info-bloc-sup div#nom-hebergement{
        clear:both;
        font-family:'Josefin Sans', 'Helvetica Neue', Arial, sans-serif;
        font-size:1.6em;
        color:#222;
        text-shadow:1px 1px 1px rgba(250,250,250,0.5);
        margin-top:3px;
        margin-left:10px;
    }
    div#info-bloc-inf{
        clear:both;
        width:500px;
        margin-top:19px;
    }
    div.hebergement-gite-listing-detail,
    div.hebergement-chambre-listing-detail{
        /*height:135px;*/
        background-color:#fafafa;
        border-radius:3px;
    }
    div#typetype{
        clear:both;
        font-size:1.2em;
        line-height:23px;
        height:25px;
    }
    div#typetype .texte-vertical{
        display:block;
        text-align:right;
        padding-right:5px;
        text-transform:capitalize;
    }
    div#vignette{
        clear:both;
        width:181px;
        height:115px;
        margin:8px auto;
    }
    div#info-bloc-sup div#type{
        clear:both;
        font-size:0.9em;
        color:#cf000e;
    }
    div#info-bloc-inf div#capacite-max,
    div#info-bloc-inf div#nbre-chambre,
    div#info-bloc-inf div#nbre-epis,
    div#info-bloc-inf div#nbre-cle,
    div#info-bloc-inf div#icon-confort{
        float:left;
        width:75px;
        height:56px;
        margin:8px 0px;
        color:#777;
        text-align:center;
    }
    .nombre{
        display:block;
        margin-top:15px;
        margin-bottom:4px;
        font-size:1.2em;
    }
    .reference{
        clear:both;
        font-size:5pt;
        display:block;
    }
    div#info-bloc-inf div#icon-confort-dog{
        float:left;
        margin-top:13px;
        margin-left:10px;
    }
    div#info-bloc-inf div#icon-confort-smoker{
        display:none;
    }
    div#commune{
        float:right;
        margin-right:5px;
    }

    /*** DESCRIPTION HEBERGEMENT ***/
    div#sendTo-printThis{
        display:none;
    }
    div#accueil-bloc-gauche{
        clear:both;
    }
    div#accueil-bloc-droite{
        clear:both;
    }
    #reservation-chambre {
        width: 340px;
        height: 50px;
        line-height: 45px;
        margin: auto;
        background-color: #c72231;
        border: 1px solid rgba(50, 50, 50, 1);
        border-radius: 18px;
        margin-bottom: 8px;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    div#description-heb{
        width:330px;
        min-height:800px;
        margin-left:-6px;
        padding-top:5px;
        border-radius:12px;
    }
    div#description-info-sup{
        width:337px;
        margin:auto;
        margin-bottom:10px;
        background-color:#f0efeb;
        padding:6px 0px;
    }
    div#description-icone-theme-giteplus{
        position:static;
        width:300px;
    }
    div#nom-heb{
        display:block;
        margin-top:8px;
        font-size:16pt;
        font-weight:bold;
        color:#c9252b;
        text-align:center;
    }
    .etiquette-sup{
        float:right;
        width:80px;
        height:56px;
        margin-right:2px;
        margin-top:4px;
        color:#777;
        text-align:center;
        /*box-shadow:2px 2px 4px rgba(50, 50, 50, 0.5);*/
    }
    .etiquette-sup span{
        display:block;
        margin-top:15px;
        margin-bottom:4px;
        font-size:1.2em;
    }
    div#descriptif-accordeon{
        height:670px;
        list-style:none !important;
        width:338px;
        display:block;
        margin-bottom:10px;
    }
    div#descriptif-accordeon .slide_content{
        background:#f0efeb;
        background-image:url(background_body.jpg);
        background-repeat:no-repeat;
        background-position:center;
        margin-left:0px;
        margin-bottom:25px;
        padding:15px;
    }
    div#description-bloc-gauche,
    div#description-bloc-droite{
        width:312px;
        clear:both;
        text-align:justify;
    }
    div#description-icone-confort,
    div#description-icone-activite,
    div#description-icone-literie{
        text-align:center;
        margin:12px 0px;
        padding:0px;
    }

    div#description-icone-confort .picto,
    div#description-icone-activite .picto,
    div#description-icone-literie .picto{
        margin:8px;
        width:32px;
        height:32px;
    }
    div#description-heb div#description-map div#map_div {
        clear:both;
        margin:auto;
        height: 470px;
        width: 300px;
    }
    div#description-heb div#description-map div#map_menu{
        clear:both;
        margin:4px auto;
        word-wrap:break-word;
        width:190px;
        padding:30px 10px;
        border:1px solid #999;
        border-radius:18px;
    }
    div#description-heb div#description-coordonnee{
        clear:both;
        margin:8px auto;
        width:300px;
        padding:5px;
        font-size:0.8em;
    }
    div#tarification-hebergement,
    div#tarification-gite,
    div#tarification-chambre{
        margin:0px;
        padding:8px 20px;
        border-radius:3px;
        background: rgb(255,255,255);
    }
    div#description-photo-heb{
        margin:auto;
        margin-bottom:10px;
        border-radius:0px;
    }
    div#description-adresse-hebergement{
        margin-bottom:10px;
        padding:6px;
        text-align:center;
        color:#333;
        border-radius:3px;
        background: rgb(255,255,255);
    }
    div#description-heb div#map_menu{
        display:none;
    }
    div#description-heb div#description-coordonnee div#nom-proprio{
        margin-bottom:20px;
        font-size:1.em;
    }
}



/*** ================================================= ***/




/*** Desktops and laptops ***/
@media only screen and (min-width : 1224px){
    /*** INTERFACE ***/
    div#wrapper{
        width:1100px;
        margin:auto;
        background-color:#fafafa;
    }
    /*** LOGO ***/
    div#logo{
        float:left;
        background:url(../images/logo.png);
        background-repeat:no-repeat;
        background-position:center;
        background-color:rgba(255,255,255,0.95);
        margin-left:10px;
        margin-right:4px;
        margin-top:-25px;
    }
    div#logo a{
        height:153px;
        width:148px;
        display:block;
    }

    /*** JE CHERCHE ***/
    div#je-recherche{
        padding:10px;
        padding-top:32px;
        height:150px;
        border: 1px solid #ccc;
        background-color:rgb(201,37,43);
    }
    div#form-je-cherche {
        height: 84px;
        width:1100px;
        margin-bottom: 30px;
        padding-top: 20px;
        background-color:rgb(201,37,43);
    }
    div#select-type-hebergement,
    div#je-recherche #date-start,
    div#je-recherche #date-end,
    div#je-recherche #nbre-personne,
    div#je-recherche #proximite,
    div#trouver-homepage{
        float:left;
        height:65px;
        margin:5px 5px 5px 0px;
        vertical-align:middle;
        padding-left:10px;
    }

    /*** OFFRES ***/
    div#zone-offres{
        width:1065px;
        height:435px;
    }
    div#zone-offres div#zone-idee-sejour,
    div#zone-offres div#zone-derniere-minute,
    div#zone-offres div#zone-allo-chambre-hote{
        float:left;
        width:245px;
        height:332px;
        background-color:#EFEFEF;
        border:1px solid #ccc;
        margin:15px 35px;
        padding:10px 15px 1px 15px;
        border-radius:4px;
        color:#666;
        font-size:0.73em;
    }
    div#zone-offres h2{
        height:20px;
        padding-top:10px;
        font-family:'PT Sans Narrow'!important;
        color:rgb(201,37,43);
        font-weight:none;
        text-align:left;
        padding-left:2em;
        width:100%;
    }

    /*** FOOTER ***/
    div#footer{
        background-color:#666;
        height:414px;
        padding-left:25px;
        color:#ddd;
    }
    div#footer div#reseaux-sociaux-mobile{
        display:none;
    }
    div#footer div#reseaux-sociaux,
    div#footer div#contact,
    div#footer div#destination-wallonie,
    div#footer div#association,
    div#footer div#autres-sites{
        float:left;
        height:312px;
        width:170px;
        margin-right:25px;
        margin-top:50px;
        padding-left:15px;
        font-size:9pt;
    }
    div#footer div#reseaux-sociaux h2{
        color:rgba(0,221,230,1);
        margin-left:-35px;
        margin-top:-25px;
        font-weight:normal;
        font-size:11pt;
    }
    div#footer div#reseaux-sociaux ul.contact-ul li a{
        display:block;
        height:35px;
        padding-left:52px;
        padding-top:15px;
        color:#ddd !important;
        font-size:0.8em;
        background-repeat:no-repeat;
        background-position:left top;
        margin:10px 0px;
    }
    div#footer div#reseaux-sociaux ul.contact-ul li a:hover{
        color:#fff !important;
    }
    div#footer div#reseaux-sociaux ul.contact-ul li #btn-facebook{
        background-image:url(../images/facebook.png);
    }
    div#footer div#reseaux-sociaux ul.contact-ul li #btn-twitter{
        background-image:url(../images/twitter.png);
    }
    div#footer div#reseaux-sociaux ul.contact-ul li #btn-google{
        background-image:url(../images/google.png);
    }
    div#footer div#reseaux-sociaux ul.contact-ul li #btn-youtube{
        background-image:url(../images/youtube.png);
    }

    /*** COLOPHON  PARTENAIRES LOGO***/
    div#colophon{
        height:310px;
        background-color:#333;
        padding-top:10px;
        text-align:center;
    }
    div#colophon div#partenaire-mobile{
        display:none;
    }
    div#colophon div#partenaire{
        padding-left:12%;
    }
    div#colophon div#partenaire img{
        display:block;
        margin:auto;
        margin-bottom:2px;
    }
    div#colophon div#partenaire div#eurogite,
    div#colophon div#partenaire div#feader,
    div#colophon div#partenaire div#feder,
    div#colophon div#partenaire div#wallonie-tourisme,
    div#colophon div#partenaire div#wallonie-bruxelles-tourisme{
        float:left;
        width:150px;
        margin:5px 20px 0px 0px;
        text-align:center;
        font-size:9px;
        font-family:verdana,sans-serif;
        color:#d2d2d2;
    }

    /*** LISTING IDEE SEJOUR ***/
    div#idee-sejours-listing article.article-resume-idee-sejours{
        width:450px;
        min-height:280px;
        margin:20px 15px;
        padding:10px;
        border: 1px solid #ddd;
        text-shadow:1px 1px 1px rgba(250,250,250,0.8);
        background:#f0efeb;
    }

    /*** LISTING RESULTAT RECHERCHE ***/
    div#listing-result-count{
        position:relative;
        top:-10px;
        width:550px;
    }
    div#listing-result-block div#listing-result-batch{
        float:left;
        margin-left:10px;
    }
    div#listing-result-info-top,
    div#listing-result-info-bottom{
        border:2px solid rgba(250,250,250,0.5);
        height:40px;
        padding:10px;
        background: rgba(240,240,240,0.5);
    }
    div#listing-result-block div#sort{
        float:right;
        margin-right:10px;
    }
    div.hebergement-gite-listing-detail,
    div.hebergement-chambre-listing-detail{
        position:relative;
        z-index:20;
        width:800px;
        height:135px;
        margin:10px auto;
        border:1px solid rgba(50,50,50,0.1);
        border-radius:0px 0px 0px 12px;
    }
    div#info-bloc-sup{
        float:left;
        width:500px;
        height:26px;
    }
    div#info-bloc-sup div#distance{
        float:left;
        margin-top:7px;
        font-weight:bold;
        color:#555;
    }
    div#info-bloc-sup div#nom-hebergement{
        float:left;
        font-family:'Josefin Sans', 'Helvetica Neue', Arial, FreeSans, sans-serif;
        font-size:1.6em;
        color:#222;
        text-shadow:1px 1px 1px rgba(250,250,250,0.5);
        margin-top:3px;
        margin-left:10px;
    }
    div#info-bloc-inf{
        float:left;
        width:500px;
        margin-top:19px;
    }
    div#info-bloc-inf div#capacite-max,
    div#info-bloc-inf div#nbre-chambre,
    div#info-bloc-inf div#nbre-epis,
    div#info-bloc-inf div#nbre-cle,
    div#info-bloc-inf div#icon-confort{
        float:left;
        width:114px;
        height:66px;
        border-radius:12px;
        margin:3px 5px;
        text-align:center;
        font-weight:bold;
        color:#777;
    }
    div.hebergement-gite-listing-detail,
    div.hebergement-chambre-listing-detail,
    div#typetype{
        height:135px;
    }
    div#typetype{
        float:left;
        width:100px;
        text-shadow:-1px 1px 1px rgba(255,255,255,0.5);
        border-radius:0px 0px 0px 12px;
        font-size:2em;
    }
    div#typetype .texte-vertical{
        position:relative;
        left:-34px;
        top:60px;
        -webkit-transform:rotate(270deg);
        -moz-transform:rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(-90deg);
        white-space:nowrap;
        display:block;
        text-align:right;
        text-transform:capitalize;
    }
    div#vignette{
        float:left;
        width:181px;
        height:115px;
        margin:8px 8px 0px 3px;
    }
    div#info-bloc-sup div#type{
        float:right;
        font-size:0.9em;
        color:#cf000e;
    }
    .nombre{
        display:block;
        font-size:2.5em;
        margin-top:18px;
    }
    .reference{
        float:left;
        font-size:7pt;
        display:block;
    }
    div#info-bloc-inf div#icon-confort-dog{
        float:left;
        margin-top:13px;
        margin-left:10px;
    }
    div#info-bloc-inf div#icon-confort-smoker{
        float:right;
        margin-top:13px;
        margin-right:10px;
    }
    div#commune{
        float:right;
        margin-right:5px;
    }


    /*** DESCRIPTION HEBERGEMENT ***/
    /*** boutons printThis sendTo et back-button ***/
    div#sendTo-printThis{
        float:left;
        width:150px;
        margin-top:6px;
    }
    #reservation-chambre {
        width: 340px;
        height: 50px;
        line-height: 45px;
        margin: auto;
        background-color: #c72231;
        border: 1px solid rgba(50, 50, 50, 1);
        border-radius: 18px;
        margin-bottom: 8px;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    div#description-heb{
        width:1065px;
        min-height:800px;
        margin-left:-6px;
        padding-top:5px;
        border-radius:12px;
    }
    div#description-info-sup{
        width:1010px;
        height:66px;
        margin:auto;
        margin-bottom:10px;
        background-color:#f0efeb;
    }
    div#description-icone-theme-giteplus{
        position:absolute;
        top:10px;
        left:400px;
        width:300px;
    }
    div#nom-heb{
        float:left;
        width:610px;
        height:60px;
        margin-left:10px;
        margin-top:3px;
        font-size:16pt;
        font-weight:bold;
        color:#c9252b;
        text-align:center;
        text-shadow:1px 1px 1px rgba(250,250,250,0.9);
        line-height:55px;
    }
    .etiquette-sup{
        float:right;
        width:93px;
        height:56px;
        margin-right:2px;
        margin-top:4px;
        color:#777;
        text-align:center;
        font-weight:bold;
        /*box-shadow:2px 2px 4px rgba(50, 50, 50, 0.5);*/
    }
    .etiquette-sup span{
        display:block;
        margin-top:15px;
        margin-bottom:4px;
        font-size:2.5em;;
    }
    div#descriptif-accordeon{
        height:670px;
        list-style:none !important;
        width:1040px;
        display:block;
        margin-bottom:10px;
    }
    div#descriptif-accordeon .slide_content{
        background:#f0efeb;
        background-image:url(background_body.jpg);
        background-repeat:no-repeat;
        background-position:center;
        margin-left:28px;
        margin-bottom:25px;
        padding:15px;
    }
    div#description-bloc-gauche{
        width:400px;
        float:left;
    }
    div#description-bloc-droite{
        width:400px;
        float:right;
    }
    div#accueil-bloc-gauche{
        float:left;
    }
    div#accueil-bloc-droite{
        float:right;
    }
    div#description-icone-confort,
    div#description-icone-activite,
    div#description-icone-literie{
        text-align:center;
        margin-top:8px;
        padding:6px;
    }

    div#description-icone-confort .picto,
    div#description-icone-activite .picto,
    div#description-icone-literie .picto{
        margin:0px 6px;
        width:32px;
        height:32px;
    }
    div#description-heb div#description-map div#map_div {
        float:left;
        height: 470px;
        width: 620px;
    }
    div#description-heb div#description-map div#map_menu{
        float:right;
        word-wrap:break-word;
        width:190px;
        padding:30px 10px;
        border:1px solid #999;
        border-radius:18px;
    }
    div#description-heb div#description-coordonnee{
        float:left;
        margin-top:20px;
        margin-left:20px;
        width:499px;
        padding:15px;
        font-size:1em;
    }
    div#tarification-hebergement,
    div#tarification-gite,
    div#tarification-chambre{
        width:460px;
        margin:0px 0px 0px 5px;
        padding:8px 20px;
        border-radius:18px;
        background: rgb(255,255,255);
    }
    div#description-photo-heb{
        margin:0px auto 10px;
        border-radius:18px;
    }
    div#description-adresse-hebergement{
        margin-bottom:10px;
        padding:6px;
        text-align:center;
        color:#333;
        text-shadow:1px 1px 1px rgba(250,250,250,0.8);
        border-radius:18px;
        background: rgb(255,255,255);
    }
    div#description-heb div#description-coordonnee div#nom-proprio{
        margin-bottom:20px;
        font-size:14pt;
    }
}