/*
CSS BY AFFINITIC
mars 2013


*/



/*** SKIN STYLES ***/
@font-face {
font-family:'PT Sans Narrow';
src:url('../font/PTSansNarrow.ttf') format('truetype');
font-weight:normal;
font-style:normal;
/*
src:url('../font/PTSansCaption.ttf') format('truetype'),
url('../font/PTSansItalic.ttf') format('truetype'),
url('../font/PTSansNarrow.ttf') format('truetype'),
url('../font/PTSansNarrowBold.ttf') format('truetype');
*/
}

body{
font-family:arial, helvetica, verdana, sans-serif;
font-size:12pt;
color:#333;
background:#191919;
padding:0;
margin:0;
}

.break-float{
clear:both;
}

a:hover{
color:#205C90 !important;
}


/*** CALENDAR PICKER FIX ***/
#ui-datepicker-div {
z-index: 1100 !important;
display: none;
}


/*** LANGUAGE SELECTOR // PORTAL-PERSONALTOOLS ***/
#portal-personaltools,
#languageselector {
background-color:rgba(50,50,50,0.7); /*#e3e3e3;*/
color:#fff !important;
}

#languageselector {
float:right;
position:relative;
z-index:3;          /* personaltools should be above #portal-header (with z-index:2) */
top:0;
right:0;
padding:0.25em 0.5em;
font-size:80%;
border-bottom-right-radius:0.5em;
border-bottom-left-radius:0.5em;
-webkit-border-bottom-right-radius:0.5em;
-webkit-border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
-moz-border-radius-bottomright:0.5em;
}

div#portal-header dl#languageselector.actionMenu dt.actionMenuHeader a {
color:#ff9700 !important;
}
div#portal-header div#portal-personaltools-wrapper dl#portal-personaltools.actionMenu dt.actionMenuHeader a {
color:#009bde !important;
}
div#portal-header dl#languageselector.actionMenu dt.actionMenuHeader a:hover,
div#portal-header div#portal-personaltools-wrapper dl#portal-personaltools.actionMenu dt.actionMenuHeader a:hover{
color:#fff !important;
}


#languageselector dt {
font-weight:normal;
}
#languageselector dt.actionMenuHeader a:after {
content:" ▼";
}
#languageselector dd {
right:0;
padding-top:0.5em;
}
#languageselector dd,
#portal-personaltools dd {
background-color:rgba(40,40,40,0.8);
padding-bottom:0.5em;
border-radius:0px 0px 6px 6px;
}

#languageselector dd a {
line-height:2em;
padding:0 0.75em;
color:#ff9700 !important;
border:1px solid rgba(40,40,40,0.1);
border-radius:18px;
}
#portal-personaltools dd a {
line-height:2em;
padding:0 0.75em;
color:#009bde !important;
border:1px solid rgba(40,40,40,0.1);
border-radius:18px;
}

#languageselector dd a:hover,
#portal-personaltools dd a:hover {
background-color:rgba(50,50,50,0.9);
color:#fff !important;
border-radius:18px;
border:1px solid #000;
}


/*** EDIT BAR ***/
#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
z-index: 1500;
}

#edit-bar {
margin-bottom:0px;
}


/*** INTERFACE ***/
#wrapper{
width:1100px;
min-height:2800px;
margin:auto;
background-color:#303030;
}


/*** HEADER ***/
#header{
height:200px;
box-shadow:0px 5px 8px #000;
}


/*** TOP-HEADER ***/
#top-header{
height:24px;
padding-top:2px;
background-color:#000;
/*background-image:url(../images/bg-menu-haut.png);*/
}

#titre-site{
float:left;
margin-left:10px;
font-weight:bold;
color:#fff;
}

/*** LISTE ICONES ***/
#icone-reseaux-sociaux{
float:left;
margin-left:450px;
height:20px;
}

#icone-reseaux-sociaux ul{
display:inline;
list-style:none;
padding:0;
margin-right:70px;
}

#icone-reseaux-sociaux ul li{
display:inline-block;
height:20px;
width:23px;
}

#icone-reseaux-sociaux ul li a{
display:block;
width:23px;
height:20px;
color:#ddd !important;
}

#android{
background-image:url(../images/icon_top_header.png);
}

#apple{
background:url(../images/icon_top_header.png);
background-position:-22px 0px;
}

#iconyoutube{
background:url(../images/icon_top_header.png);
background-position:-96px 0;
}

#google{
background:url(../images/icon_top_header.png);
background-position:-120px 0;
}

#twitter{
background:url(../images/icon_top_header.png);
background-position:-144px 0;
}

#facebook{
background:url(../images/icon_top_header.png);
background-position:-168px 0;
}

#Pinterest{
background:url(../images/icon_top_header.png);
background-position:-190px 0;
}

#mail{
background:url(../images/icon_top_header.png);
background-position:-235px 0;
width:20px !important;
margin-left:3px;
}


/*** MAIN-HEADER***/
#main-header{
height:164px;
padding-top:6px;
background:url(../images/bg-orange.png);

}

/*** LOGO ***/
#logo{
float:left;
background:url(../images/logo.png);
margin-left:12px;
margin-right:12px;
margin-top:12px;
height:129px;
width:129px;
}

#logo a{
height:129px;
width:129px;
display:block;
}


/*** JE CHERCHE ***/
div#je-recherche{
position:relative;
float:left;
padding:10px;
padding-top:5px;
background:rgba(255,255,255,0.1);
margin-right:20px;
border:1px solid #888;
border-radius:12px;
height:139px;
width:402px;
box-shadow:3px 3px 5px #000;
}

div#je-recherche h2,
div#je-connais h2,
div#je-decouvre h2{
float:left;
margin-top:-5px;
font-family:"PT Sans Narrow";
font-size:1.2em;
font-weight:bold;
color:#000;
text-shadow:1px 1px 2px rgba(255,255,255,0.5);
margin-bottom:1px;
}

div#je-recherche h3 {
float:right;
margin:0;
padding-right:10px;
background-image:url(../images/icon_fleche.png);
background-repeat:no-repeat;
background-position:right center;
}
div#je-recherche h3 a {
font-family:"PT Sans Narrow";
font-size:0.8em;
font-weight:normal;
color:#000;
text-shadow:1px 1px 2px rgba(255,255,255,0.5);
}

div#je-recherche h3 a:hover {
color:#205C90;
text-shadow:1px 1px 2px rgba(255,255,255,0.5);
}

#je-recherche #zone-gite-meuble,
#je-recherche #zone-chambre-hote{
float:left;
width:150px;
margin-left:15px;
font-family:'PT Sans Narrow';
}

#je-recherche #zone-gite-meuble label,
#je-recherche #zone-chambre-hote label{
margin-left:5px;
}

#je-recherche #date-start,
#je-recherche #date-end,
#je-recherche #nbre-personne{
float:left;
height:27px;
margin:10px 5px 10px 0px;
}

.ui-datepicker-trigger{
margin-left:3px;
}

#je-recherche #nbre-personne{
background-image:url(../images/icon_gugus.png);
background-repeat:no-repeat;
background-position:right top;
width:68px;
padding-top:5px;
}

#je-recherche #proximite{
float:left;
}

#je-recherche #proximite input[type=text]{
float:left;
width:250px;
}


.ui-widget-content{
background: #eeeeee;
}

#je-connais{
float:left;
background:rgba(255,255,255,0.1);
margin-right:12px;
border-radius:12px;
border:1px solid #888;
box-shadow:3px 3px 5px #000;
height:139px;
width:217px;
padding:10px;
padding-top:5px;
}

#je-connais #nom-ou-reference{
margin-top:15px;
}

#je-recherche .trouver,
#je-connais .trouver{
border:none;
width:149px;
height:32px;
cursor: pointer;
background:url(../images/trouver.png);
font-size:1.1em;
text-shadow:1px 1px 1px rgba(250,250,250,0.7);
padding-right:32px;
}

#je-recherche .trouver{
margin-top:-10px;
margin-left:259px;
}

#je-connais .trouver {
margin-top:32px;
margin-left:75px;
}

#je-connais label{
display:block;
}
#je-connais #nom-ou-reference {
font-family:"PT Sans Narrow";
}

#info{
margin-left:130px;
margin-bottom:-12px;
}

#jcn{
margin-left:7px;
margin-bottom:28px;
}

#je-decouvre{
float:left;
background:rgba(255,255,255,0.1);
box-shadow:3px 3px 5px #000;
border-radius:12px;
border:1px solid #888;
height:139px;
width:217px;
padding:10px;
padding-top:5px;
}

#gitemeuble,
#maisonhote{
background-image:url(../images/btn_je_decouvre.png);
background-repeat:no-repeat;
width:198px;
height:52px;
padding-top:5px;
padding-left:3px;
}

#giteetmeuble{
background-position:left top;
}

#maisonhote{
background-position:left -59px;
margin-top:5px;
}

#gitemeuble a,
#maisonhote a{
display:block;
width:100px;
margin-left:5px;
font-weight:bold;
font-size:1.1em;
color:#fff !important;
text-shadow:1px 1px 1px rgba(50,50,50,0.5);
}

/*** PORTAL-BREADCRUMBS ***/
div#portal-breadcrumbs{
margin:5px 0px;
color:#ddd;
}

div#portal-breadcrumbs a{
color:#c16c00 !important;
}

div#portal-breadcrumbs a:hover{
color:#f79a05 !important;
}


/*** ZONE PRODUIT PACKAGE ***/
/*** CAROUSEL ***/
#package-carousel {
height: 333px;
margin-bottom: 0px;
}

#package-carousel .carousel-inner {
overflow:hidden;
margin: auto;
position:relative;
}

#package-carousel .carousel-inner .item img {
height:333px;
width:100%;
}

#package-carousel .carousel-caption {
bottom: 0px;
}

#zone-produit-pacakage{
}

#zone-photo{
}

#zone-packperm-membre{
/*position:relative;
top:378px;*/
height:44px;
width:100%;
background:url(../images/quadrillage.png);
opacity:0.8;
}

#zone-package-permanent,
#zone-devenir-membre{
height:33px;
line-height:33px;
}

#zone-package-permanent{
float:left;
width:400px;
margin-top:8px;
}

#bouton-devenir-membre{
float:right;
width:198px;
height:33px;
line-height:33px;
margin-right:15px;
margin-top:3px;
border:1px solid #9d7d11;
border-radius:18px;
background: rgb(237,207,95); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(237,207,95,1) 0%, rgba(232,194,57,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,207,95,1)), color-stop(100%,rgba(232,194,57,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,207,95,1) 0%,rgba(232,194,57,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,207,95,1) 0%,rgba(232,194,57,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,207,95,1) 0%,rgba(232,194,57,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,207,95,1) 0%,rgba(232,194,57,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcf5f', endColorstr='#e8c239',GradientType=0 ); /* IE6-9 */
}

#bouton-devenir-membre a{
display:block;
text-align:center;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
font-family:"PT Sans Narrow";
}

#mice,
#city-trip,
#insolite{
width:80px;
border-right:2px solid #888;
padding-right:20px;
margin-left:25px;
margin-top:8px;
}
#mice a{
color:#0F0 !important;
}
#city-trip a{
color:#406cd3 !important;
}
#insolite a{
color:#ff00bd !important;
border-right:none;
}


/*** OFFRES PACKAGES ***/
div#zone-offres{
position:relative;
height:352px;
background:url(../images/bgblancligne.png);
background-position:0px 53px;
box-shadow:0px 5px 8px #000;
z-index:10;
}

div#zone-offres h2{
height:42px;
padding-top:10px;
background-color:#f4dbba;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,219,183,1) 97%, rgba(212,144,69,1) 99%, rgba(241,205,156,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(97%,rgba(247,219,183,1)), color-stop(99%,rgba(212,144,69,1)), color-stop(100%,rgba(241,205,156,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,219,183,1) 97%,rgba(212,144,69,1) 99%,rgba(241,205,156,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,219,183,1) 97%,rgba(212,144,69,1) 99%,rgba(241,205,156,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,219,183,1) 97%,rgba(212,144,69,1) 99%,rgba(241,205,156,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,219,183,1) 97%,rgba(212,144,69,1) 99%,rgba(241,205,156,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1cd9c',GradientType=0 ); /* IE6-9 */
border-bottom:1px solid #f1cd9c;
font-family:'PT Sans Narrow'!important;
font-weight:none;
text-align:center;
text-shadow:1px 1px 1px rgba(250,250,250,0.6);
}

div#zone-offres h3 a{
color:#000;
}
div#zone-offres h3 a:hover{
color:#205C90;
}


div#zone-offres div#zone-idee-sejour,
div#zone-offres div#zone-derniere-minute,
div#zone-offres div#zone-allo-chambre-hote,
div#zone-offres div#zone-la-boutique{
float:left;
width:233px;
height:241px;
background-color:transparent;
background:url(../images/bg-etiquette.png);
background-position:2px -5px;
margin-left:6px;
margin-top:15px;
padding:10px 15px 15px 15px;
box-shadow:3px 3px 7px #444;
border-radius:4px;
color:#666;
font-size:0.8em;
}

div#zone-offres div#zone-idee-sejour img,
div#zone-offres div#zone-derniere-minute img,
div#zone-offres div#zone-la-boutique img{
float:right;
}

div#zone-offres div#zone-allo-chambre-hote div#allo-qrcode{
position:relative;
left:-6px;
box-shadow:2px 2px 4px rgba(50,50,50,0.5);
margin-bottom:6px;
}



.etiquette{
font-size:15pt;
}

.bordeaux{
font-size:17px;
font-weight:bold;
color:#4f0000;
}

.plus-info{
position:absolute;
bottom:25px;
width:230px;
border-top:1px dashed #bbb;
text-align:right;
padding-right:8px;
}
.plus-info a{
text-decoration:none;
color:#ccc1b3;
font-size:8pt;
color:#a66723 !important;
}

.idee{
width:114px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:103px 4px;
}

.last{
width:135px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:125px 4px;
}

.plus{
width:60px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:50px 4px;
}

.shop{
width:82px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:72px 4px;
}

.ensavoirplus a:hover{
opacity:0.3;
}


/*** ESSENTIEL ***/
div#content{
color:#666;
min-height:425px;
padding:3px 10px 1px 10px;
background:url(../images/bgessentiel.png);
background-repeat:repeat;
margin-top:2px;
margin-bottom:5px;
}

div#content.ploneroot{
padding:18px 1em;
}

div#content.ploneroot h1{
margin-left:50px;
font-size:3em;
text-shadow:2px 2px 2px rgba(255,255,255,0.5);
font-family:'Italianno', cursive;
}

div#content.ploneroot div#content-core{
/*
-moz-column-width: 250px;
-webkit-column-width: 250px;
-moz-column-gap: 20px;
-webkit-column-gap: 20px;
-moz-column-rule: 1px solid #ddccb5;
-webkit-column-rule: 1px solid #ddccb5;
*/
}

.documentActions{
width:95%;
margin:auto;
margin-top:40px;
border-top:1px dashed #bbb;
text-align:right;
}

.documentActions ul{
margin, padding:0;
}

.documentActions ul li{
list-style-type:none;
display:inline !important;
margin-left: 8px;
}

.documentActions ul li a{
border-bottom: 0.1em solid #CCCCCC;
}


/*** ZONE-VIDEO ***/
div#zone-video{
min-height:540px;
}


/*** ZONE TROMBINO FACEBOOK ***/
div#trombino-facebook{
margin-right:10px;
height: 260px;
width: 425px;
}


/*** FOOTER ***/
div#footer{
background:url(../images/degrade-gris.png);
height:414px;
padding-left:25px;
color:#ddd;
}

div#footer li{
display:block;
}

div#footer div#reseaux-sociaux,
div#footer div#contact,
div#footer div#destination-wallonie,
div#footer div#association,
div#footer div#autres-sites{
float:left;
height:312px;
width:170px;
margin-right:25px;
margin-top:50px;
padding-left:15px;
font-size:9pt;
}

div#footer div#reseaux-sociaux h2,
div#footer div#contact h2,
div#footer div#destination-wallonie h2,
div#footer div#association h2,
div#footer div#autres-sites h2{
margin-left:-35px;
margin-top:-25px;
font-weight:normal;
font-size:11pt;
}
div#footer div#reseaux-sociaux h2{
color:rgba(0,221,230,1);
}
div#footer div#reseaux-sociaux ul.contact-ul li a{
display:block;
height:35px;
padding-left:52px;
padding-top:15px;
color:#ddd !important;
font-size:0.8em;
background-repeat:no-repeat;
background-position:left top;
margin:10px 0px;
}

div#footer div#reseaux-sociaux ul.contact-ul li a:hover{
color:#fff !important;
}

div#footer div#reseaux-sociaux ul.contact-ul li #btn-facebook{
background-image:url(../images/facebook.png);
}
div#footer div#reseaux-sociaux ul.contact-ul li #btn-twitter{
background-image:url(../images/twitter.png);
}
div#footer div#reseaux-sociaux ul.contact-ul li #btn-google{
background-image:url(../images/google.png);
}
div#footer div#reseaux-sociaux ul.contact-ul li #btn-youtube{
background-image:url(../images/youtube.png);
}


div#footer div#contact h2{
color:#fe606b;
}
div#footer div#destination-wallonie h2{
color:#d8b2ec;
}
div#footer div#association h2{
color:#74c7f7;
}
div#footer div#autres-sites h2{
color:#1fda60;
}

div#footer div#autres-sites li a {
color:#1fda60;
}

div#footer div#autres-sites li a:hover {
color:#138D3D !important;
}

div#footer div#reseaux-sociaux{
border-left:1px solid rgba(0,221,230,0.3);
}
div#footer div#contact{
border-left:1px solid rgba(254,96,107,0.3);
}
div#footer div#destination-wallonie{
border-left:1px solid rgba(216,178,236,0.3);
}
div#footer div#association{
border-left:1px solid rgba(116,199,247,0.3);
}
div#footer div#autres-sites{
border-left:1px solid rgba(31,218,96,0.3);
}

div#footer div#destination-wallonie li,
div#footer div#autres-sites li{
background-repeat:no-repeat;
background-position:left center;
padding-left:7px;
}
div#footer div#destination-wallonie li{
background-image:url(../images/icon_puce_destwal.png);
}
div#footer div#autres-sites li{
background-image:url(../images/icon_puce_autsite.png);
}


/*** FACEBOOK ***/
#trombino-facebook{
width: 425px;
height: 260px;
margin:10px auto 10px auto;
}


/*** COLOPHON ***/
#colophon{
height:310px;
background:url(../images/bgfooter.png);
background-repeat:no-repeat;
padding-top:10px;
}

#coordonnee{
font-size:0.8em;
color:#ddd;
text-align:center;
border-bottom:1px dashed #333;
}


/*** PARTENAIRRE ***/
#partenaire img{
display:block;
margin:auto;
margin-bottom:2px;
}

#eurogite,
#feder,
#wallonie-tourisme,
#wallonie-bruxelles-tourisme{
float:left;
width:250px;
margin:5px 20px 0px 0px;
text-align:center;
font-size:9px;
font-family:verdana,sans-serif;
color:#d2d2d2;
}

#eurogite{
}

#feder{
}

#wallonie-tourisme{
}

#wallonie-bruxelle-tourisme{
}



/*** MADE BY PLONE AFFINITIC ***/
#madeby{
width:95%;
margin:auto;
padding-top:3px;
border-top:1px dashed #333;
}

#affinitic,
#plone{
width:220px;
font-size:9px;
font-family:verdana,sans-serif;
color:#666;
}

#affinitic{
float:left;
text-align:left;
}

#plone{
float:right;
text-align:right;
}

#affinitic a !important,
#plone a !important{
text-decoration:none;
color:#999;
}

#affinitic a:hover,
#plone a:hover{
color:#ddd;
}


/*** LISTING PACKAGES ***/
#idee_sejours_container fieldset{
margin-top:10px;
padding-top:10px;
border: 2px solid #7A7A78;
border-radius: 10px;
}

#idee_sejours_container .logo-package {
float: left;
vertical-align:text-top;
margin-right: 10px;
margin-bottom: 2px;
}

#idee_sejours_container .div_idee_sejours{
width:99.5%;
float:left;
}

#idee_sejours_container .div_idee_sejours .title{
font-size:16px;
font-weight:bold;
}

#idee_sejours_container .div_idee_sejours .description{
font-size:11px;
font-weight:bold;
color:black;
text-decoration:none;
}


/*** LISTING PACKAGE ***/
a.package-anchor {
position:relative;
top:-80px;
}

div#aside{
width:100%;
margin-top:20px;
}

div#aside-container{
width:1050px;
margin:auto;
}

div#aside-content{
z-index:1000;
width:1050px;
margin:auto;
border-radius:18px;
box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8), -1px -1px 1px rgba(0, 19, 47, 0.3);
background: rgb(246,230,180); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

div#aside-content h1{
margin-left:40px;
margin-top: 5px;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.5);
}
div#aside-content div#aside-info{
margin-left:60px;
color:#333;
}
div#aside-content div#aside-menu{
width:300px;
position:relative;
left:730px;
top:-40px;
text-align:right;
}

div#package-large-photo{
height:500px;
width:900px;
border:1px solid #000;
margin:20px auto 20px;
}

div#package-description{
margin-top:20px;
}

div#package-description,
div#package-content{
padding:0 2em;
}
div#package-description{
font-size:1.2em;
color:#666;
font-weight:bold;
}

div#package-content{
text-align:justify;
/* mise en colonne automatique */
/*
-moz-column-width: 500px;
-webkit-column-width: 500px;
-moz-column-gap: 20px;
-webkit-column-gap: 20px;
-moz-column-rule: 1px solid #ddccb5;
-webkit-column-rule: 1px solid #ddccb5;
*/
margin-bottom:10px;
}



/*** LISTING RESULTAT RECHERCHE ***/
.documentDescription{
margin-bottom:15px;
}

div#listing-result-gite-theme,
div#listing-result-block{
border:1px solid #999;
border-radius:12px;
box-shadow:2px 2px 4px rgba(50,50,50,0.5);
min-height:300px;
min-width:150px;
padding:15px;
}


div#heb-listing div#listing-result.list-container div#listing-result-block{
float:right;
}


div#listing-result-gite-theme{
float:left;
margin-left:1em;
margin-bottom:12px;
}

div#listing-result-block{
margin:auto;
margin-bottom:12px;
}

div#listing-result-info{
border:2px solid rgba(250,250,250,0.3);
height:40px;
border-radius:18px;
padding:10px;
background: rgb(215,212,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(215,212,206,1) 0%, rgba(242,242,242,1) 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,212,206,1)), color-stop(83%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d4ce', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

div#listing-result-gite-theme{
width:180px;
word-wrap:break-word;
background: -moz-linear-gradient(top,  rgba(251,131,250,0.1) 0%, rgba(233,60,236,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,131,250,0.1)), color-stop(100%,rgba(233,60,236,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afb83fa', endColorstr='#1ae93cec',GradientType=0 ); /* IE6-9 */
}

div#listing-result-block{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

div#listing-result-gite-theme label{
font-weight:normal;
}

div#listing-result-block div#listing-result-batch{
float:left;
margin-left:10px;
}

div#listing-result-block div#sort{
float:right;
margin-right:10px;
}

div#listing-result-block div#sort label{
display:block;
}

div#listing-result-count{
position:relative;
top:-10px;
width:550px;
}

div.hebergement-gite-listing-detail,
div.hebergement-chambre-listing-detail,
div#typetype{
height:126px;
}

div.hebergement-gite-listing-detail,
div.hebergement-chambre-listing-detail{
width:800px;
margin:10px auto;
border:1px solid rgba(50,50,50,0.1);
border-radius:0px 0px 0px 12px;
box-shadow:2px 5px 8px rgba(50,50,50,0.3);
}

div.hebergement-gite-listing-detail{
background-image:url(../images/bg_listing_gite.png);
background-color:rgba(217,255,178,0.3);
}

div.hebergement-chambre-listing-detail{
background-image:url(../images/bg_listing_chambre.png);
background-color:rgba(210,254,255,0.3);
}

div#typetype{
float:left;
width:100px;
text-shadow:-1px 1px 1px rgba(255,255,255,0.5);
border-radius:0px 0px 0px 12px;
font-size:2em;
}

div.hebergement-gite-listing-detail div#typetype{
background-color:#ace087;
color:#265902;
}
div.hebergement-chambre-listing-detail div#typetype{
background-color:#82a7ea;
color:#00336a;
}
div#typetype .texte-vertical{
position:relative;
left:-34px;
top:50px;
writing-mode:tb-rl;
-webkit-transform:rotate(270deg);
-moz-transform:rotate(270deg);
-o-transform: rotate(270deg);
filter:flipH() flipV();  /*ie orientation */
white-space:nowrap;
display:block;
text-align:right;
text-transform:capitalize;
}

div.hebergement-gite-listing-detail div#typetype div.btn-loupe-listing,
div.hebergement-chambre-listing-detail div#typetype div.btn-loupe-listing{
width:95px;
height:100px;
background-repeat:no-repeat;
background-position:center bottom;
}
div.hebergement-gite-listing-detail div#typetype div.btn-loupe-listing a,
div.hebergement-chambre-listing-detail div#typetype div.btn-loupe-listing a{
display:block;
width:95px;
height:100px;
border-bottom:none;
}
div.hebergement-gite-listing-detail div#typetype div.btn-loupe-listing{
background-image:url(../images/btn_loupe_gite.png);
}
div.hebergement-chambre-listing-detail div#typetype div.btn-loupe-listing{
background-image:url(../images/btn_loupe_chambre.png);
}

div#vignette{
float:left;
margin:left:6px;
width:181px;
height:115px;
border:1px solid #999;
box-shadow:2px 2px 4px rgba(50,50,50,0.3);
margin:3px 8px 0px 3px;
}

div#info-bloc-sup{
float:left;
width:500px;
height:26px;
}

div#info-bloc-sup .digit{
float:left;
cursor:pointer;
}

div#info-bloc-sup div#distance{
float:left;
margin-top:7px;
font-weight:bold;
color:#555;
}

div#info-bloc-sup div#nom-hebergement{
float:left;
/*font-family: 'Gloria Hallelujah', cursive;*/
font-family:'Josefin Sans', 'Helvetica Neue', Arial, FreeSans, sans-serif;
font-size:1.6em;
color:#222;
text-shadow:1px 1px 1px rgba(250,250,250,0.5);
margin-top:3px;
margin-left:30px;
}

div#info-bloc-sup div#nom-hebergement a{
color: #333333;
text-decoration: none;
border-bottom: none;
}

div#info-bloc-sup div#type{
float:right;
font-size:0.9em;
color:#cf000e;
}

div#info-bloc-inf{
float:left;
width:500px;
margin-top:10px;
}

div.hebergement-gite-listing-detail div#info-bloc-inf div#capacite-max,
div.hebergement-gite-listing-detail div#info-bloc-inf div#nbre-chambre,
div.hebergement-gite-listing-detail div#info-bloc-inf div#nbre-epis,
div.hebergement-gite-listing-detail div#info-bloc-inf div#icon-confort{
background-color:rgba(200,232,167,0.31);
}

div.hebergement-chambre-listing-detail div#info-bloc-inf div#capacite-max,
div.hebergement-chambre-listing-detail div#info-bloc-inf div#nbre-chambre,
div.hebergement-chambre-listing-detail div#info-bloc-inf div#nbre-epis,
div.hebergement-chambre-listing-detail div#info-bloc-inf div#icon-confort{
background-color:rgba(130,167,234,0.19);
}

div#info-bloc-inf div#capacite-max,
div#info-bloc-inf div#nbre-chambre,
div#info-bloc-inf div#nbre-epis,
div#info-bloc-inf div#icon-confort{
float:left;
width:114px;
height:66px;
border-radius:12px;
box-shadow:2px 2px 4px rgba(50,50,50,0.5);
margin:3px 5px;
text-align:center;
font-weight:bold;
color:#333;
}

.nombre{
display:block;
font-size:2.5em;
margin-top:18px;
}

.reference{
float:left;
font-size:7pt;
display:block;
}

div#info-bloc-inf div#icon-confort-dog{
float:left;
margin-top:13px;
margin-left:10px;
}

.dog,
.no-dog{
width:40px;
height:40px;
background-image:url(../images/icon_dog.png);
background-repeat:no-repeat;
}

.dog{
background-position:left 0px;
}

.no-dog{
background-position:left -43px;
}

div#info-bloc-inf div#icon-confort-smoker{
float:right;
margin-top:13px;
margin-right:10px;
}
.smoke,
.no-smoke{
width:40px;
height:40px;
background-image:url(../images/icon_smoke.png);
background-repeat:no-repeat;
}
.smoke{
background-position:left 0px;
}
.no-smoke{
background-position:left -43px;
}

div#listing-result-block div#commune{
float:right;
margin-right:5px;
}


/*** DESCRIPTION HEBERGEMENT ***/
div#description-heb{
width:1092px;
height:735px;
margin-left:-10px;
background-image:url(../images/bg_descriptif.png);
}

div#description-info-sup{
width:98%;
height:66px;
margin-bottom:10px;
border:2px solid rgba(250,250,250,0.3);
border-radius:12px;
background: -moz-linear-gradient(top,  rgba(104,103,102,0.5) 0%, rgba(238,238,238,0.25) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,103,102,0.5)), color-stop(100%,rgba(238,238,238,0.25))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(104,103,102,0.5) 0%,rgba(238,238,238,0.25) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(104,103,102,0.5) 0%,rgba(238,238,238,0.25) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(104,103,102,0.5) 0%,rgba(238,238,238,0.25) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(104,103,102,0.5) 0%,rgba(238,238,238,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80686766', endColorstr='#40eeeeee',GradientType=0 ); /* IE6-9 */
}

div#nom-heb{
float:left;
width:610px;
height:60px;
margin-left:10px;
margin-top:3px;
font-size:16pt;
font-weight:bold;
color:#555;
text-align:center;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
line-height:55px;
}

.etiquette-sup{
float:right;
width:93px;
height:56px;
margin-right:8px;
margin-top:4px;
background-color:#fff6bb;
border-radius:8px;
color:#333;
text-align:center;
font-weight:bold;
box-shadow:2px 2px 4px rgba(50, 50, 50, 0.5);
}

.etiquette-sup span{
display:block;
margin-top:15px;
font-size:2.5em;;
}


/*** CAROUSSEL HEBERGEMENT ***/
#hebergement-carousel {
height: 377px;
}

#hebergement-carousel .carousel-inner {
overflow:hidden;
margin: auto;
position:relative;
}

#hebergement-carousel .carousel-inner .item img {
height: 377px;
margin: auto auto 20px;
border: 2px solid #696969;
border-radius: 15px;
box-shadow:0px 5px 8px #000;
}

#hebergement-carousel a.carousel-control {
border: none !important;
background: none;
margin-top: 0px;
}


/*** CONTENU ACCORDEON ***/
#accordeon-spin{
position: relative;
top: 120px;
}
#descriptif-accordeon{
height:586px;
list-style:none !important;
width:1040px;
}
#descriptif-accordeon li.slide{
height:586px;
position:relative;
}
#descriptif-accordeon .slide_handle{
bottom:0;
cursor:pointer;
left:0;
position:absolute;
top:0;
width:28px;
}
#descriptif-accordeon .slide_handle_fr{
background:url(../images/tab_accordeon_fr.png);
}
#descriptif-accordeon .slide_handle_en{
background:url(../images/tab_accordeon_en.png);
}
#descriptif-accordeon .slide_handle_nl{
background:url(../images/tab_accordeon_nl.png);
}
#descriptif-accordeon .slide_handle_it{
background:url(../images/tab_accordeon_it.png);
}
#descriptif-accordeon .slide_handle_de{
background:url(../images/tab_accordeon_de.png);
}
#descriptif-accordeon .slide2 .slide_handle{
background-position:-28px 0;
}
#descriptif-accordeon .slide3 .slide_handle{
background-position:-56px 0;
}
#descriptif-accordeon .slide4 .slide_handle{
background-position:-84px 0;
}
#descriptif-accordeon .slide5 .slide_handle{
background-position:-112px 0;
}
#descriptif-accordeon .slide6 .slide_handle{
background-position:-140px 0;
}
#descriptif-accordeon .slide_handle div{
background:url(../images/arrows.gif);
bottom:16px;
height:7px;
left:10px;
position:absolute;
width:7px;
}
#descriptif-accordeon .slide_opened .slide_handle{
cursor:default;
}
#descriptif-accordeon .slide_opened .slide_handle div{
background-position:0 -7px;
}
#descriptif-accordeon .slide_content{
background: rgb(252,253,251); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,253,251,1) 0%, rgba(235,234,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,253,251,1)), color-stop(100%,rgba(235,234,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,253,251,1) 0%,rgba(235,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,253,251,1) 0%,rgba(235,234,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,253,251,1) 0%,rgba(235,234,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,253,251,1) 0%,rgba(235,234,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfb', endColorstr='#ebeaea',GradientType=0 ); /* IE6-9 */
position:absolute;
left:28px; /* Matches the width of .slide_handle */
right:0;
top:0;
bottom:0;
padding:15px;
border-top:2px solid #ddd;
border-bottom:2px solid #ddd;
}

ul#descriptif-accordeon h2{
font-family:'PT Sans Narrow'!important;
font-weight:none;
margin-bottom: 15px;
}

/*** SLIDE ACCUEIL ***/
div#accueil-bloc-gauche{
float:left;
}
div#accueil-bloc-droite{
float:right;
}

div#description-photo-heb{
margin:0px auto 10px;
box-shadow:3px 3px 6px rgba(50,50,50,0.5);
border-radius:18px;
}

div#description-photo-heb img{
border-radius:18px;
}

div#description-photo-heb img{
cursor: pointer;
}

div#description-adresse-hebergement,
div#description-calendrier,
div#tarification-gite,
div#tarification-chambre,
div#tarification-table-hote,
div#description-icone-confort,
div#description-coordonnee{
box-shadow:2px 2px 8px rgba(50, 50, 50, 0.3);
border-radius:18px;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

div#tarification-gite h3,
div#tarification-chambre h3{
color:#A66723;
}

div#tarification-gite table,
div#tarification-chambre table,
div#tarification-table-hote table,
div#tarification-gite div#description-tarification-divers,
div#tarification-chambre div#description-tarification-divers{
width:400px;
margin:auto;
}

div#tarification-table-hote{
margin-top:15px;
}

div#tarification-gite div#description-tarification-divers,
div#tarification-chambre div#description-tarification-divers{
margin-top:10px;
}

div#description-adresse-hebergement{
margin-bottom:10px;
padding:6px;
text-align:center;
color:#333;
text-shadow:1px 1px 1px rgba(250,250,250,0.8);
}

div#description-calendrier{
}

div#description-calendrier div#calendars{
margin-left:65px;
}

div#description-calendrier div#calendars #calendars_menu a {
border-bottom: none;
}

div#tarification-gite,
div#tarification-chambre{
width:460px;
margin:0px 0px 0px 5px;
padding:8px 20px;
}

div#tarification-gite .tarif-periode,
div#tarification-chambre .tarif-periode,
div#tarification-table-hote .tarif-periode{
color:#a66723;
font-size:12pt;
font-weight:bold;
text-align:center;
}

div#tarification-gite .tarif-saison,
div#tarification-chambre .tarif-saison,
div#tarification-table-hote .tarif-saison{
color:#222;
font-size:10pt;
text-align:left;
padding:5px;
}

div#tarification-gite .tarif-prix,
div#tarification-chambre .tarif-prix,
div#tarification-table-hote .tarif-prix{
text-align:center;
padding:5px;
}

div#tarification-gite .empty-cell,
div#tarification-chambre .empty-cell,
div#tarification-table-hote .empty-cell{
background-color:#fff
padding:5px;
min-width:30px;
}

#content-core.contact-proprio {
color:#555;
}


/*** SLIDE DESCRIPTION ***/
div#description-bloc-gauche{
width:400px;
float:left;
}
div#description-bloc-droite{
width:400px;
float:right;
}

div#description-icone-confort{
text-align:center;
margin-top:8px;
padding:6px;
}

div#description-icone-confort .picto{
margin:0px 3px;
}


/*** SLIDE DISPONIBILITES ***/
#description-dispo-calendrier #dispocalendars_menu a {
border-bottom: none;
}

#dispocalendars_container table {
margin: 0px 30px 30px 30px;
text-align: center;
}

#dispocalendars_container table caption {
margin-bottom: 5px;
}

#dispocalendars_menu {
margin-bottom: 30px;
}


/*** SLIDE LOCALIЅATION ***/
div#map_div{
border:1px solid #999;
box-shadow:2px 2px 4px rgba(50, 50, 50, 0.5);
margin-bottom:12px;
margin-top:10px;
}

div#description-heb div#description-map div#map_div {
height:470px;
width:620px;
}

div#description-heb div#map_div{
float:left;
border:1px solid #999;
box-shadow:0px 3px 5px rgba(50, 50, 50, 0.5);
margin-top:0px;
}
div#description-heb div#map_menu{
float:right;
word-wrap:break-word;
width:190px;
padding:30px 10px;
border:1px solid #999;
border-radius:18px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
box-shadow:3px 3px 5px rgba(50, 50, 50, 0.5);
}

div#description-heb div#map_menu label{
font-weight:normal !important;
color:#555;
text-shadow:1px 1px 1px rgba(250, 250, 250, 0.8);
}

div#description-heb div#map_menu input[type=checkbox]{
margin:0px 3px;
}

div#map_menu #disable_legend_sentence {
line-height: 1em;
margin-top: 10px;
}

div#map_menu label.unzoomed_legend_label {
color: #CECECE !important;
}


/*** SLIDE CONTACT ***/
div#description-heb div#description-coordonnee{
float:left;
margin-top:20px;
margin-left:20px;
width:499px;
padding:15px;
font-family:'PT Sans Narrow'!important;
}

div#description-heb div#description-coordonnee div#nom-proprio,
div#description-heb div#description-coordonnee div#langue-proprio,
div#description-heb div#description-coordonnee div#phone-proprio,
div#description-heb div#description-coordonnee div#fax-proprio,
div#description-heb div#description-coordonnee div#gsm-proprio,
div#description-heb div#description-coordonnee div#email-proprio,
div#description-heb div#description-coordonnee div#url-proprio,
div#description-heb div#description-coordonnee div#contacter-proprio{
margin:10px;
}

div#description-heb div#description-coordonnee div#nom-proprio{
margin-bottom:20px;
font-size:14pt;
}

div#description-heb div#description-coordonnee div#contacter-proprio{
margin-top:35px;
margin-left:30px;
padding-left:15px;
background-image:url(../images/icon_3_fleche_bleue.gif);
background-repeat:no-repeat;
background-position:left 4px;
}

div#description-heb div#description-coordonnee div#contacter-proprio a{
border-bottom:none;
}

div#description-heb div#description-photo-proprio{
float:right;
margin-top:60px;
margin-right:30px;
width:196px;
height:170px;
background-image:url(../images/bg_photo_proprio.png);
background-repeat:no-repeat;
}

/*** z3c.form ***/
input.datepicker-widget { width: 80px; }
input#form-widgets-capacityMin { width: 34px; }
