/*
CSS by Affinitic
mars 2013
*/

/*
Calendar picker fix
*/

#ui-datepicker-div {
display: none;
}


/*
Language selector
*/

#languageselector {
float:right;
background:#e3e3e3;
position:relative;
z-index:3; /* personaltools should be above #portal-header (with z-index:2) */
top:0;
right:0;
padding:0.25em 0.5em;
font-size:80%;
border-bottom-right-radius:0.5em;
border-bottom-left-radius:0.5em;
-webkit-border-bottom-right-radius:0.5em;
-webkit-border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
-moz-border-radius-bottomright:0.5em;
}

#languageselector dt {
font-weight:normal;
}
#languageselector dt.actionMenuHeader a:after {
content:" ▼";
}
#languageselector dd {
right:0;
padding-top:0.5em;
}
#languageselector dd {
background:#e3e3e3;
padding-bottom:0.5em;
}
#languageselector dd a {
line-height:2em;
padding:0 0.75em;
}
#languageselector dd a:hover {
background:#205c90;
color:White;
}


/*** SKIN STYLES ***/

@font-face {
font-family:'PTSansNArrow';
src:url('font/PTSansBold.ttf');
src:url('font/PTSansCaption.ttf') format('truetype'),
url('font/PTSansItalic.ttf') format('truetype'),
url('font/PTSansNarrow.ttf') format('truetype'),
url('font/PTSansNarrowBold.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}


body{
font-family:arial, helvetica, verdana, sans-serif;
font-family:'PT Sans Narrow', sans-serif;
font-size:12pt;
color:#fff;
background:#191919;
padding:0;
margin:0;
}

a{
color:#000 !important;
}

.break-float{
clear:both;
}

#wrapper{
width:1100px;
min-height:2800px;
margin:auto;
background-color:#303030;
}

/*** HEADER ***/
#header{
height:200px;
box-shadow:0px 5px 8px #000;
}

/*** TOP-HEADER ***/
#top-header{
height:24px;
padding-top:2px;
background-color:#000;
/*background-image:url(../images/bg-menu-haut.png);*/
}

#titre-site{
float:left;
margin-left:10px;
font-weight:bold;
}

/*** LISTE ICONES ***/
#icone-reseaux-sociaux{
float:left;
margin-left:520px;
height:20px;
}

#icone-reseaux-sociaux ul{
display:inline;
list-style:none;
padding:0;
margin-right:70px;
}

#icone-reseaux-sociaux ul li{
display:inline-block;
height:20px;
width:23px;
}

#icone-reseaux-sociaux ul li a{
display:block;
width:23px;
height:20px;
}

#android{
background-image:url(../images/icon_top_header.png);
}

#apple{
background:url(../images/icon_top_header.png);
background-position:-22px 0px;
}

#iconyoutube{
background:url(../images/icon_top_header.png);
background-position:-96px 0;
}

#google{
background:url(../images/icon_top_header.png);
background-position:-120px 0;
}

#twitter{
background:url(../images/icon_top_header.png);
background-position:-144px 0;
}

#facebook{
background:url(../images/icon_top_header.png);
background-position:-168px 0;
}

#Pinterest{
background:url(../images/icon_top_header.png);
background-position:-190px 0;
}

#mail{
background:url(../images/icon_top_header.png);
background-position:-235px 0;
width:20px !important;
margin-left:3px;
}


/*** MAIN-HEADER***/
#main-header{
height:164px;
padding-top:6px;
background:url(../images/bg-orange.png);

}

#logo{
float:left;
background:url(../images/logo.png);
margin-left:12px;
margin-right:12px;
margin-top:12px;
height:129px;
width:129px;
}

#je-recherche{
position:relative;
float:left;
padding:10px;
padding-top:5px;
background:rgba(255,255,255,0.1);
margin-right:20px;
border:1px solid #888;
border-radius:12px;
height:139px;
width:402px;
box-shadow:3px 3px 5px #000;
}

#je-recherche h2,
#je-connais h2,
#je-decouvre h2{
float:left;
margin-top:-8px;
font-family:"PTSansNArrow";
font-size:1.2em;
font-weight:bold;
color:#000;
text-shadow:1px 1px 2px rgba(255,255,255,0.5);
margin-bottom:1px;
}

#je-recherche h3{
float:right;
margin:0;
font-family:"PTSansNArrow";
font-size:0.8em;
font-weight:normal;
color:#000;
text-shadow:1px 1px 2px rgba(255,255,255,0.5);
padding-right:10px;
background-image:url(../images/icon_fleche.png);
background-repeat:no-repeat;
background-position:right center;
}

#je-recherche #zone-gite-meuble,
#je-recherche #zone-chambre-hote{
float:left;
width:150px;
margin-left:15px;
}

/*
#je-recherche #zone-gite-meuble label,
#je-recherche #zone-gite-meuble input[checkbox],{
display:inline !important;
}
*/

#je-recherche #date-start,
#je-recherche #date-end,
#je-recherche #nbre-personne{
float:left;
height:27px;
margin:10px 5px;
background-repeat:no-repeat;
background-position:right top;
}

#je-recherche #date-start,
#je-recherche #date-end{
background-image:url(../images/icon_calendrier.png);
width:106px;
}

#je-recherche #nbre-personne{
background-image:url(../images/icon_gugus.png);
width:68px;
}

#je-recherche #proximite{
float:left;
}

#je-connais{
float:left;
background:rgba(255,255,255,0.1);
margin-right:12px;
border-radius:12px;
border:1px solid #888;
box-shadow:3px 3px 5px #000;
height:139px;
width:217px;
padding:10px;
padding-top:5px;
}

#je-connais #nom-ou-reference{
margin-top:15px;
}

#je-recherche .trouver,
#je-connais .trouver{
border:none;
width:149px;
height:32px;
background:url(../images/trouver.png);
}
#je-recherche .trouver{
margin-top:4px;
margin-left:259px;
}
#je-connais .trouver{
margin-top:35px;
margin-left:75px;
}


#info{
margin-left:130px;
margin-bottom:-12px;
}

#jcn{
margin-left:7px;
margin-bottom:28px;
}

#je-decouvre{
float:left;
background:rgba(255,255,255,0.1);
box-shadow:3px 3px 5px #000;
border-radius:12px;
border:1px solid #888;
height:139px;
width:217px;
padding:10px;
padding-top:5px;
}

#gitemeuble,
#maisonhote{
background-image:url(../images/btn_je_decouvre.png);
background-repeat:no-repeat;
width:198px;
height:56px;
padding-top:5px;
padding-left:3px;
}

#giteetmeuble{
background-position:left top;
}

#maisonhote{
background-position:left -59px;
margin-top:5px;
}

#gitemeuble a,
#maisonhote a{
display:block;
width:100px;
margin-left:5px;
font-weight:bold;
font-size:1.1em;
color:#fff !important;
text-shadow:1px 1px 1px rgba(50,50,50,0.5);

}

/*** ZONE PRODUIT PACKAGE ***/

/*Carousel*/
#package-carousel {
height: 377px;
}

#package-carousel .carousel-inner {
overflow:hidden;
margin: auto;
position:relative;
}

#package-carousel .carousel-inner .item img {
height:377px;
width:100%;
}

/*
#package-carousel .carousel-caption {
position:absolute;
top:-50px;
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
padding: 15px;
}
*/


#package-carousel .carousel-control {
line-height: 40px;
}

#zone-produit-pacakage{
}

#zone-photo{
height:422px;
}

#zone-packperm-membre{
/*position:relative;
top:378px;*/
height:44px;
width:100%;
background:url(../images/quadrillage.png);
opacity:0.8;
}

#zone-package-permanent,
#zone-devenir-membre{
height:33px;
line-height:33px;
}

#zone-package-permanent{
float:left;
width:400px;
margin-top:8px;
}

#bouton-devenir-membre{
float:right;
width:198px;
margin-right:15px;
margin-top:8px;
border:1px solid #9d7d11;
border-radius:18px;
text-align:center;
background: rgb(244,226,155);
background: -moz-radial-gradient(center, ellipse cover,  rgba(244,226,155,1) 0%, rgba(236,206,95,1) 1%, rgba(232,195,57,1) 99%, rgba(244,226,155,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(244,226,155,1)), color-stop(1%,rgba(236,206,95,1)), color-stop(99%,rgba(232,195,57,1)), color-stop(100%,rgba(244,226,155,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(244,226,155,1) 0%,rgba(236,206,95,1) 1%,rgba(232,195,57,1) 99%,rgba(244,226,155,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(244,226,155,1) 0%,rgba(236,206,95,1) 1%,rgba(232,195,57,1) 99%,rgba(244,226,155,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(244,226,155,1) 0%,rgba(236,206,95,1) 1%,rgba(232,195,57,1) 99%,rgba(244,226,155,1) 100%);
background: radial-gradient(ellipse at center,  rgba(244,226,155,1) 0%,rgba(236,206,95,1) 1%,rgba(232,195,57,1) 99%,rgba(244,226,155,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4e29b', endColorstr='#f4e29b',GradientType=1 );
}

#mice,
#city-trip,
#insolite{
width:80px;
border-right:2px solid #888;
padding-right:20px;
margin-left:25px;
margin-top:8px;
}

#mice a{
color:#0F0 !important;
}

#city-trip a{
color:#406cd3 !important;
}

#insolite a{
color:#ff00bd !important;
border-right:none;
}



/*** OFFRES PACKAGES ***/
div#zone-offres{
position:relative;
height:352px;
background:url(../images/bgblancligne.png);
background-position:0px 53px;
box-shadow:0px 5px 8px #000;
z-index:10;
}

div#zone-offres h2{
height:42px;
padding-top:10px;
background-color:#f4dbba;
border-bottom:1px solid #d49549;
}

div#zone-offres div#zone-idee-sejour,
div#zone-offres div#zone-derniere-minute,
div#zone-offres div#zone-allo-chambre-hote,
div#zone-offres div#zone-la-boutique{
width:235px;
position:relative;
background:url(../images/bg-etiquette.png);
background-position:2px -5px;
margin-left:6px;
margin-top:15px;
height:236px;
padding:15px;
float:left;
box-shadow:3px 3px 7px #444;
color:#666;
font-size:0.9em;
}

.etiquette{
font-size:15pt;
}

.bordeaux{
font-size:17px;
font-weight:bold;
color:#4f0000;
}

#tableauoffre img,
#tableauoffre-2 img,
#tableauoffre-3 img ,
#tableauoffre-4 img{
height:116px;
width:178px;
margin-left:60px;
margin-top:5px;
}

#tableauoffre p,
#tableauoffre-2 p,
#tableauoffre-3 p,
#tableauoffre-4 p{
color:#444;
font-size:12px;
font-weight:lighter;
}

#tableauoffre-2 .red{
width:100px;
margin-left:60px;
font-size:14px;
font-weight:bold;
color:red;
margin-right:0px;
float:left;

}

#tableauoffre-2 .bonhomme{
width:25px;
height:25px;
margin-left:10px;
margin-top:8px;
float:left;
margin-bottom:16px;
}

.plus-info{
border-top:1px dashed #999;
}
.plus-info a{
text-decoration:none;
color:#ccc1b3;
}


.idee{
width:114px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:103px 4px;
}

.last{
width:135px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:125px 4px;
}

.plus{
width:60px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:50px 4px;
}

.shop{
width:82px;
background:url(../images/puce-fleche.png)no-repeat;
background-position:72px 4px;
}

.ensavoirplus a:hover{
opacity:0.3;
}

/*** ESSENTIEL ***/
div#content{
color:#666;
min-height:425px;
padding-top:30px;
background:url(../images/bgessentiel.png);
background-repeat:repeat;
}

div#content.ploneroot{
padding:0px 1em;
}

div#content.ploneroot h1{
margin-left:50px;
font-size:3em;
text-shadow:2px 2px 2px rgba(255,255,255,0.5);
font-family:'Italianno', cursive;
}

div#content.ploneroot div#content-core{
-moz-column-width: 250px;
-webkit-column-width: 250px;
-moz-column-gap: 20px;
-webkit-column-gap: 20px;
-moz-column-rule: 1px solid #ddccb5;
-webkit-column-rule: 1px solid #ddccb5;
}

.documentActions{
width:95%;
margin:auto;
margin-top:40px;
border-top:1px dashed #bbb;
text-align:right;
}

.documentActions ul{
margin, padding:0;
}

.documentActions ul li{
list-style-type:none;
display:inline !important;
margin-left: 8px;
}

.documentActions ul li a{
border-bottom: 0.1em solid #CCCCCC;
}

/*** ZONE-VIDEO ***/
div#zone-video{
min-height:600px;
background-image:url(../images/video-youtube.png);
background-repeat:no-repeat;
}


/*** ZONE TROMBINO FACEBOOK ***/
div#trombino-facebook{
margin-right:10px;
height: 260px;
width: 425px;
}


/*** FOOTER ***/
#footer{
background:url(../images/degrade-gris.png);
height:414px;
padding-left:25px;
}

#footer li{
display:block;
}

div#reseaux-sociaux,
div#contact,
div#destination-wallonie,
div#association,
div#autres-sites{
float:left;
height:312px;
width:170px;
margin-right:25px;
margin-top:50px;
padding-left:15px;
font-size:9pt;
}

div#reseaux-sociaux h2,
div#contact h2,
div#destination-wallonie h2,
div#association h2,
div#autres-sites h2{
margin-left:-35px;
margin-top:-25px;
font-weight:normal;
font-size:11pt;
}
div#reseaux-sociaux h2{
color:rgba(0,221,230,1);
}
div#contact h2{
color:#fe606b;
}
div#destination-wallonie h2{
color:#d8b2ec;
}
div#association h2{
color:#74c7f7;
}
div#autres-sites h2{
color:#1fda60;
}

div#reseaux-sociaux{
border-left:1px solid rgba(0,221,230,0.3);
}
div#contact{
border-left:1px solid rgba(254,96,107,0.3);
}
div#destination-wallonie{
border-left:1px solid rgba(216,178,236,0.3);
}
div#association{
border-left:1px solid rgba(116,199,247,0.3);
}
div#autres-sites{
border-left:1px solid rgba(31,218,96,0.3);
}

div#destination-wallonie li,
div#autres-sites li{
background-repeat:no-repeat;
background-position:left center;
padding-left:7px;
}
div#destination-wallonie li{
background-image:url(../images/icon_puce_destwal.png);
}
div#autres-sites li{
background-image:url(../images/icon_puce_autsite.png);
}


#retour-haut{
position:relative;
float:right;
margin-top:37px;
right:10px;
font-size:11px;
}

#retour-haut a{
text-decoration:none;
color:#ccc !important;
padding-right:14px;
background-image:url(../images/icon_fleche_haut.png);
background-repeat:no-repeat;
background-position:right center;
}




/*** FACEBOOK ***/
#trombino-facebook{
width: 425px;
height: 260px;
margin:10px auto 10px auto;
}



/*** COLOPHON ***/
#colophon{
height:310px;
background:url(../images/bgfooter.png);
background-repeat:no-repeat;
padding-top:10px;
}

#coordonnee{
font-size:0.8em;
color:#ddd;
text-align:center;
border-bottom:1px dashed #333;
}


/*** PARTENAIRRE ***/
#partenaire img{
display:block;
margin:auto;
margin-bottom:2px;
}

#eurogite,
#feder,
#wallonie-tourisme,
#wallonie-bruxelles-tourisme{
float:left;
width:250px;
margin:5px 20px 0px 0px;
text-align:center;
font-size:9px;
font-family:verdana,sans-serif;
color:#d2d2d2;
}

#eurogite{
}

#feder{
}

#wallonie-tourisme{}

#wallonie-bruxelle-tourisme{
}



/*** MADE BY PLONE AFFINITIC ***/
#madeby{
width:95%;
margin:auto;
padding-top:3px;
border-top:1px dashed #333;
}

#affinitic,
#plone{
width:220px;
font-size:9px;
font-family:verdana,sans-serif;
color:#666;
}

#affinitic{
float:left;
text-align:left;
}

#plone{
float:right;
text-align:right;
}

#affinitic a !important,
#plone a !important{
text-decoration:none;
color:#999;
}

#affinitic a:hover,
#plone a:hover{
color:#ddd;
}


/*** ACCORDEON DESCRIPTIF GITE ***/

#descriptif-accordeon{
height:586px;
list-style:none !important;
overflow:scroll;
width:1040px;
}
#descriptif-accordeon li{
height:586px;
position:relative;
}
#descriptif-accordeon .slide_handle{
background:url(../images/tab_accordeon.png);
bottom:0;
cursor:pointer;
left:0;
position:absolute;
top:0;
width:28px;
}
#descriptif-accordeon .slide2 .slide_handle{
background-position:-28px 0;
}
#descriptif-accordeon .slide3 .slide_handle{
background-position:-56px 0;
}
#descriptif-accordeon .slide4 .slide_handle{
background-position:-84px 0;
}
#descriptif-accordeon .slide5 .slide_handle{
background-position:-112px 0;
}
#descriptif-accordeon .slide6 .slide_handle{
background-position:-140px 0;
}
#descriptif-accordeon .slide_handle div{
background:url(../images/arrows.gif);
bottom:16px;
height:7px;
left:10px;
position:absolute;
width:7px;
}
#descriptif-accordeon .slide_opened .slide_handle{
cursor:default;
}
#descriptif-accordeon .slide_opened .slide_handle div{
background-position:0 -7px;
}
#descriptif-accordeon .slide_content
{
background-color: white;
bottom:0;
left:28px; /* Matches the width of .slide_handle */
position:absolute;
right:0;
top:0;
padding: 15px;
}





/*** LISTING RESULTAT ***/

#aside{
width:1097px;
background-color:#00F;
left:100px;
position:absolute;
top:230px;
z-index:100;
}

div#listing-result-gite-theme,
div#listing-result-block{
float:left;
border:1px solid #999;
border-radius:12px;
box-shadow:2px 2px 4px rgba(50,50,50,0.5);
min-height:300px;
min-width: 150px;
margin-left: 1em;
padding: 15px;
}

div#listing-result-info{
border:2px solid rgba(250,250,250,0.3);
height:40px;
border-radius:18px;
padding:10px;
background: rgb(215,212,206); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(215,212,206,1) 0%, rgba(242,242,242,1) 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,212,206,1)), color-stop(83%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(215,212,206,1) 0%,rgba(242,242,242,1) 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d4ce', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

div#listing-result-gite-theme{
background: -moz-linear-gradient(top,  rgba(251,131,250,0.1) 0%, rgba(233,60,236,0.1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,131,250,0.1)), color-stop(100%,rgba(233,60,236,0.1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(251,131,250,0.1) 0%,rgba(233,60,236,0.1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1afb83fa', endColorstr='#1ae93cec',GradientType=0 ); /* IE6-9 */

}

div#listing-result-block{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

div#listing-result-gite-theme label{
}

div#listing-result-block div#listing-result-batch{
float:left;
margin-left:10px;
}

div#listing-result-block div#sort{
float:right;
margin-right:10px;
}


div.hebergement-gite-listing-detail,
div.hebergement-chambre-listing-detail,
div#typetype{
height:126px;
}

div.hebergement-gite-listing-detail,
div.hebergement-chambre-listing-detail{
width:800px;
margin:10px auto;
border:1px solid rgba(50,50,50,0.1);
border-radius:0px 0px 0px 12px;
box-shadow:2px 5px 8px rgba(50,50,50,0.3);
}

div.hebergement-gite-listing-detail{
background-image:url(../images/bg_listing_gite.png);
background-color:rgba(217,255,178,0.3);
}

div.hebergement-chambre-listing-detail{
background-image:url(../images/bg_listing_chambre.png);
background-color:rgba(210,254,255,0.3);
}


div#typetype{
float:left;
width:100px;
text-shadow:-1px 1px 1px rgba(255,255,255,0.5);
border-radius:0px 0px 0px 12px;
font-size:2em;
}

div.hebergement-gite-listing-detail div#typetype{
background-color:#ace087;
color:#265902;
}
div.hebergement-chambre-listing-detail div#typetype{
background-color:#82a7ea;
color:#00336a;
}
div#typetype .texte-vertical{
position:relative;
left:-32px;
top:45px;
writing-mode:tb-rl;
-webkit-transform:rotate(270deg);
-moz-transform:rotate(270deg);
-o-transform: rotate(270deg);
filter:flipH() flipV();  /*ie orientation */
white-space:nowrap;
display:block;
text-align:right;
text-transform:capitalize;
}

div.hebergement-gite-listing-detail div#typetype div.btn-loupe-listing,
div.hebergement-chambre-listing-detail div#typetype div.btn-loupe-listing{
width:95px;
height:100px;
background-repeat:no-repeat;
background-position:center bottom;
}
div.hebergement-gite-listing-detail div#typetype div.btn-loupe-listing a,
div.hebergement-chambre-listing-detail div#typetype div.btn-loupe-listing a{
display:block;
width:95px;
height:100px;
border-bottom:none;
}
div.hebergement-gite-listing-detail div#typetype div.btn-loupe-listing{
background-image:url(../images/btn_loupe_gite.png);
}
div.hebergement-chambre-listing-detail div#typetype div.btn-loupe-listing{
background-image:url(../images/btn_loupe_chambre.png);
}

div#vignette{
float:left;
margin:left:6px;
width:181px;
height:115px;
border:1px solid #999;
box-shadow:2px 2px 4px rgba(50,50,50,0.3);
margin-top: 3px;
margin-right: 8px;
}

div#info-bloc-sup{
float:left;
width:500px;

}

div#info-bloc-sup div#distance{
float:left;
margin-top:7px;
}

div#info-bloc-sup div#nom-hebergement{
float:left;
/*font-family: 'Gloria Hallelujah', cursive;*/
font-family:'Josefin Sans', 'Helvetica Neue', Arial, FreeSans, sans-serif;
font-size:1.6em;
color:#222;
text-shadow:1px 1px 1px rgba(250,250,250,0.5);
margin-top:3px;
margin-left:30px;
}

div#info-bloc-sup div#type{
float:right;
font-size:0.9em;
color:#cf000e;
}

div#info-bloc-inf{
float:left;
width:500px;
margin-top:10px;
}



div.hebergement-gite-listing-detail div#info-bloc-inf div#capacite-max,
div.hebergement-gite-listing-detail div#info-bloc-inf div#nbre-chambre,
div.hebergement-gite-listing-detail div#info-bloc-inf div#nbre-epis,
div.hebergement-gite-listing-detail div#info-bloc-inf div#icon-confort{
background-color:rgba(200,232,167,0.31);
}

div.hebergement-chambre-listing-detail div#info-bloc-inf div#capacite-max,
div.hebergement-chambre-listing-detail div#info-bloc-inf div#nbre-chambre,
div.hebergement-chambre-listing-detail div#info-bloc-inf div#nbre-epis,
div.hebergement-chambre-listing-detail div#info-bloc-inf div#icon-confort{
background-color:rgba(130,167,234,0.19);
}

div#info-bloc-inf div#capacite-max,
div#info-bloc-inf div#nbre-chambre,
div#info-bloc-inf div#nbre-epis,
div#info-bloc-inf div#icon-confort{
float:left;
width:114px;
height:66px;
border-radius:12px;
box-shadow:2px 2px 4px rgba(50,50,50,0.5);
margin:3px 5px;
text-align:center;
font-weight:bold;
color:#333;
}

.nombre{
display:block;
font-size:2.5em;
margin-top:18px;
}

.reference{
float:left;
font-size:7pt;
display:block;
}

div#info-bloc-inf div#icon-confort-dog{
float:left;
margin-top:13px;
margin-left:10px;
}
.dog,
.no-dog{
width:40px;
height:40px;
background-image:url(../images/icon_dog.png);
background-repeat:no-repeat;
}
.dog{
background-position:left 0px;
}
.no-dog{
background-position:left -43px;
}

div#info-bloc-inf div#icon-confort-smoker{
float:right;
margin-top:13px;
margin-right:10px;
}
.smoke,
.no-smoke{
width:40px;
height:40px;
background-image:url(../images/icon_smoke.png);
background-repeat:no-repeat;
}
.smoke{
background-position:left 0px;
}
.no-smoke{
background-position:left -43px;
}


div#listing-result-block div#commune{
float:right;
margin-right:5px;
}


































